    #frame
    {
        width: 1000px; /* ширина */
        background-color: black; /* цвет фона */
        margin: auto; /* Выравнивание по центру */
        display: table; /* Отображение в табличной форме представление в форме таблицы) */
        height: 100%; /* высота */
    }
    #header
    {
        width:96%; /* ширина */
        height: 50px; /* высота */
        background-color: darkorange; /* цвет фона */
        margin: auto; /* Выравнивание по центру */
        margin-top: 10px; /* Отступ от верхней границы сайта */
        padding: 20px; /* внутренний отступ */
        text-align: center; /* Выравнивание текста по центру */
    }

    h1
    {
        color: #333;
        font-size: 1rem;
        text-align: center;
        text-shadow: 0 0 10px rgba(65, 201, 122, 0.6);
        transition: all 0.5s ease;
    }

    h1:hover {
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.6), 0 0 50px rgba(255, 255, 255, 0.4), 0 0 80px rgba(255, 255, 255, 0.2), 0 0 150px rgba(255, 255, 255, 0.1);
        transform: translateX(-10px) rotateX(40deg);
      }
      
    p
    {
        color: rgba(16, 19, 180, 0.605); /* изменение цвета текста на синий */
        font-size: 16px; /* задание размера шрифта */
        text-align: left;
        margin: 15px;
    }
    #footer
    {
        width:940px; /* ширина */
        height: 50px; /* высота */
        background-color: brown; /* цвет фона */
        margin: auto; /* Выравнивание по центру */
        margin-top: 10px; /* Отступ от верхней границы сайта */
        padding: 20px; /* внутренний отступ */
        text-align: center; /* Выравнивание текста по центру */
        display: table-footer-group; /* Представляем как футер (подвал) */
    }
    #content
    {
        height: 700px; /* высота */
        width: 60%; /* ширина */
        background-color:Black; /* цвет фона */
        float: left; /* выравнивание блока (слева) */
    }
    .container {
        position: relative; /* Позиционирование контейнера */
        display: inline-block; /* Отображение как блочный элемент */
        overflow: hidden; /* Скрытие частей изображения, выходящих за границы контейнера */
      }
    .container img {
        display: block; /* Отображение как блочный элемент */
        height: auto; /* Автоматическое вычисление высоты */
        background-color: black;
      }

    .container h2 {
        position: absolute; /* Абсолютное позиционирование заголовка */
        top: 83%; /* Отступ от верхней границы контейнера на 50% */
        left: 54%; /* Отступ от левой границы контейнера на 50% */
        transform: translate(-50%, -50%); /* Смещаем заголовок на 50% влево и на 50% вверх */
        color: black; /* Цвет текста */
        font-size: 5rem; /* Размер шрифта */
        font-weight: bold; /* Жирный шрифт */
        text-transform: uppercase; /* Преобразуем текст в верхний регистр */
        text-align: right; /* Выравнивание по центру */
        letter-spacing: 5px; /* Межбуквенное расстояние */
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.3); /* Тени текста */
        transition: all 0.5s ease; /* Плавный переход */
      }
      
      .container:hover h2 {
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.8), 
        0 0 50px rgba(255, 255, 255, 0.4), 
        0 0 80px rgba(255, 255, 255, 0.2), 
        0 0 150px rgba(255, 255, 255, 0.1); /* Тени текста */
        transform: translateY(-20px) rotateX(90deg); /* Смещение и поворот текста */
      }

    h3 {
        text-align: center; /* Устанавливает выравнивание текста по центру */
        font-size: 15px; /* Задает размер шрифта */
        color: white; /* Задает цвет текста */
        font-family: arial, serif; /* Задает шрифт текста */
        font-weight: bold; /* Устанавливает жирное начертание для текста */
        transition: 3s; /* Добавляет плавный переход при изменении свойств */
        text-transform: uppercase; /* Преобразует текст в верхний регистр */
        margin-top: 0; /* Задает отступ сверху */
        text-rendering: optimizeLegibility; /* Оптимизирует качество отображения текста */
        -webkit-text-stroke: 0.5px pink; /* Добавляет обводку вокруг текста */
        padding-top: 2%; /* Задает отступ сверху внутри элемента */
    }
    
    h3:hover {
        /* Создает эффект тени текста при наведении курсора */
        text-shadow: -1px -1px 1px red, /* Тень смещена на -1px по горизонтали и -1px по вертикали, имеет размытие 1px и цвет золотой */
                    0 1px 0 white, /* Тень не смещена по горизонтали, смещена на 1px по вертикали, не имеет размытия и цвет темно-серый */
                    0 2px 0 pink, /* Тень не смещена по горизонтали, смещена на 2px по вертикали, не имеет размытия и цвет золотой */
                    0 3px 0 pink, /* Тень не смещена по горизонтали, смещена на 3px по вертикали, не имеет размытия и цвет золотой */
                    0 4px 0 white, /* Тень не смещена по горизонтали, смещена на 4px по вертикали, не имеет размытия и цвет темно-серый */
                    0 5px 0 pink, /* Тень не смещена по горизонтали, смещена на 5px по вертикали, не имеет размытия и цвет золотой */
                    4px 8px 10px white; /* Тень смещена на 10px по горизонтали и 25px по вертикали, имеет размытие 35px и цвет темно-серый */
                    cursor: pointer; /* Добавляет указатель при наведении на текст */
    }